<div class="wine-card">
  <img class="wine-image" src="{{ IMAGE_URI + wine.image }}" alt="image" />
  <div class="wine-info">
    <div class="wine-no grey-color">{{ wine.no }}</div>
    <div class="wine-name grey-color">{{ wine.name }}</div>
    <div class="pricing">
      <div class="bottle">
        <div class="separator">
          <h2>Bottle <br />$ {{ wine.cost.bottle }}</h2>
          <input
            type="radio"
            (change)="radioChangeHandler($event)"
            name="bottle"
            value="bottle"
          />
          QTY
        </div>
      </div>
      <div class="case">
        <h2>Case <br />$ {{ wine.cost.case }}</h2>
        <input
          type="radio"
          (change)="radioChangeHandler($event)"
          name="case"
          value="case"
        />
        QTY
      </div>
      <button class="button grey-button" style="width: 100%; margin-top: 10px">
        Details
      </button>
      <button
        class="button dark-button"
        style="width: 100%; margin-top: 10px"
        (click)="addToCart()"
      >
        Add to Cart
      </button>
    </div>
  </div>
</div>
