<div class="cart-wrapper" *ngIf="len > 0">
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.wine.name }}</td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">{{ element.qty }}</td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef>Unit Price</th>
      <td mat-cell *matCellDef="let element">{{ element.unitPrice }}</td>
    </ng-container>

    <ng-container matColumnDef="subTotal">
      <th mat-header-cell *matHeaderCellDef>Sub Total</th>
      <td mat-cell *matCellDef="let element">{{ element.subTotal }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a (click)="deleteRowData(element)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>

  <div class="totals">
    <div>Total {{ total }}</div>
    <div class="button-row">
      <button class="button" (click)="emptyCart()">Empty Cart</button>
      <button
        class="button"
        style="margin-left: 10px"
        [routerLink]="['/wines']"
        routerLinkActive="router-link-active"
      >
        Continue Shopping
      </button>
      <button
        class="button dark-button"
        style="margin-left: 10px; margin-right: 20px"
        mat-flat-button
        [routerLink]="['/checkout']"
        routerLinkActive="router-link-active"
      >
        proceed to check out
      </button>
    </div>
  </div>
</div>
