<div id="modal-content-wrapper">
  <header id="modal-header">
    <h1 id="modal-title">Are you sure you want to logout?</h1>
  </header>
  <section id="modal-body">
    <div class="user">
      name: {{userData.fullName}} <br/>
      phone number: {{userData.phoneNumber}}
      <br/>
      address: {{userData.address}}
    </div>
    <div class="cart-info"></div>
  </section>
  <footer id="modal-footer">
    <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
      Go back
    </button>
  </footer>
</div>
